PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173
MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/cactus?retryWrites=true&w=majority
MONGO_URI=mongodb+srv://sahilkhan123098p:<db_password>@cluster0.atvjs9j.mongodb.net/?appName=Cluster0
JWT_SECRET=msk
JWT_EXPIRES_IN=7d
